@charset "UTF-8";
/*cores*/
.-hidden {
  display: none !important; }

/*reset*/
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

body {
  background-color: #EBEBEB; }

/*Estilização dos títulos e textos*/
body, input, textarea {
  font-family: 'Roboto' serif; }

.titulo1, .titulo2, .titulo3,
.titulo4, .titulo5, .titulo6,
.subtitulo1, .subtitulo2,
.textButton, .textoLongo1,
.textoLongo2, .textOverline, .legenda {
  font-family: 'Roboto', sans-serif; }

.titulo1, .titulo2 {
  font-weight: 300; }

.titulo1 {
  font-size: 96px;
  letter-spacing: -1.5px; }

.titulo2 {
  font-size: 60px;
  letter-spacing: -0.5px; }

.titulo3 {
  font-size: 48px; }

.titulo4 {
  font-size: 34px; }

.titulo5 {
  font-size: 24px; }

.titulo3, .titulo4, .titulo5, .subtitulo1, .textoLongo1, .textoLongo2, .legenda, .textOverline {
  font-weight: 400; }

.titulo6 {
  font-size: 20px; }

.subtitulo1, .textoLongo1 {
  font-size: 16px; }

.titulo6, .subtitulo1 {
  letter-spacing: 0.15px; }

.subtitulo2, .textoLongo2, .textButton {
  font-size: 14px; }

.textoLongo2, .titulo4 {
  letter-spacing: 0.25px; }

.subtitulo2, .titulo6, .textButton {
  font-weight: 500; }

.textoLongo1 {
  letter-spacing: 0.5px; }

.textButton {
  letter-spacing: 1.25px; }

.legenda {
  font-size: 12px;
  letter-spacing: 0.4px; }

.textOverline {
  font-size: 10px;
  letter-spacing: 1.5px; }

.textButton, .textOverline {
  text-transform: uppercase; }

.link {
  cursor: pointer; }

button {
  border: none;
  background: none;
  cursor: pointer; }

.btn {
  height: 36px;
  min-width: 64px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  transition: box-shadow .2s; }
  .btn.-preenchido:hover, .btn.-preenchidoBranco:hover {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    filter: brightness(120%); }
  .btn.-preenchido {
    background-color: #FF595E;
    color: #fff; }
  .btn.-preenchidoBranco {
    background-color: #fff;
    color: #FF595E; }
  .btn.-soTextoBranco {
    color: #fff; }
  .btn.-comBorda {
    border: 1px solid #FF595E;
    color: #FF595E; }
    .btn.-comBorda:hover {
      background-color: rgba(0, 0, 0, 0.05); }

input {
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  border-radius: 4px; }

.top-bar {
  background-color: #FF595E;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px; }
  @media (min-width: 840px) {
    .top-bar {
      height: 72px; } }
  .top-bar > .right {
    display: flex;
    align-items: center; }

@media (min-width: 840px) {
  .showMenu, .busca {
    display: none; } }

@media (max-width: 840px) {
  .inputBusca, .botaoLogar, .botaoRegistrar {
    display: none; } }

.inputBusca {
  color: #3E363F;
  min-width: 400px;
  width: 40vw; }

.menu-lateral {
  background-color: #fff;
  width: 304px;
  padding: 16px;
  height: 100%;
  position: fixed;
  left: -304px;
  top: 0;
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.18, 1);
  z-index: 3; }
  .menu-lateral.-ativo {
    transform: translateX(304px); }

.user-container {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .user-container > :first-child {
    margin-right: 8px; }

.buttons-container {
  display: flex;
  margin-top: 16px; }
  .buttons-container > :first-child {
    margin-right: 8px; }

.background {
  display: none;
  cursor: pointer;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.24);
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 0;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); }
  .background.-ativo {
    display: block; }

.list-container {
  display: flex;
  flex-direction: column; }
  .list-container > .item {
    display: flex;
    align-items: center;
    height: 56px; }
    .list-container > .item > .nome {
      color: #747474; }
    .list-container > .item > .icon {
      margin-right: 16px; }
    .list-container > .item:hover {
      background-color: rgba(255, 89, 94, 0.08); }
  .list-container > .item.-selecionado {
    background-color: rgba(255, 89, 94, 0.24); }
    .list-container > .item.-selecionado > .nome {
      color: #FF595E; }

.linha-divisoria {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin-top: 16px; }

/*# sourceMappingURL=estilos.css.map */
