.menu-lateral{
    background-color: $branco;
    width: 304px;
    padding: 16px;
    height: 100%;
    position:fixed;
    left: 0;
    top: 0;
    

    &::after{
        width: 100vw;
        height: 100%;
        background: rgba(0, 0, 0, 0.24);
        position: absolute;
        top: 0;
        left: 304px;
        content: ' ';
    }

}

.user-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    

    > :first-child{
        margin-right: 8px;
    }
}

.buttons-container{
    display: flex;
    margin-top: 16px;
    > :first-child{
        margin-right: 8px;
    }
      
}


