.menu-lateral{
    background-color: $branco;
    width: 304px;
    padding: 16px;
    height: 100%;
    position:fixed;
    left: -304px;
    top: 0;
    transition: transform 0.5s cubic-bezier(.77,0,.18,1);
    z-index: 3;
    &.-ativo{
        transform: translateX(304px);
    }
 
}

.user-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    

    > :first-child{
        margin-right: 8px;
    }
}

.buttons-container{
    display: flex;
    margin-top: 16px;
    > :first-child{
        margin-right: 8px;
    }
      
}

.background{
    
    display: none;
    cursor: pointer;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.24);
    position: absolute;
    top: 0;
    left: 0px; 
    z-index: 1;
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);

    
    &.-ativo{
        display: block;
    }
}

