.rodape-container{
    background-color: $branco;
    height: 180px;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    padding: 24px;
    width: 100%;

    >.legenda{
        text-align:center;
    }
    @media (min-width:840px){
        height: 259px;
    }

    
}

.content{
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    >.image{
        background:url('../img/logoCestou-horizontal.svg');
        background-repeat: no-repeat;
        background-size: 120px;
        background-position-y:center ;
        height: 100%;
        width: 120px;
        @media (min-width:840px) {
            background:url('../img/logoCestou-vertical.svg');
            background-repeat: no-repeat;
            background-size: 120px;
        }
        
    }
    >.botao{
        color: $textoEscuro;
        display: flex;
        flex-direction: column;
        align-items: center;
        >.icon{
            transition: transform .3s cubic-bezier(.68,-0.55,.27,1.55);
        }

        &:hover,&:active{
            >.icon{
                transform: translateY(-10px);
            }
        }
    }
    
}

.links-footer{
    
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    @media (max-width:840px) {
        display: none;
    }
    >.item{
        display: flex;
        flex-direction: column;
        font-weight: 500;
        
        >.titulo5,>.subtitulo1{
            color:$textoEscuro;
        }
      
       >.titulo5{
           font-weight:500;
           margin-bottom: 16px;
       }
       >.subtitulo1{
           margin-bottom: 8px;

           &:hover{
               text-decoration:underline;
           }
       }
    }
}