.top-bar{
    background-color: $corPrimaria;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

    @media(min-width: 840px){
        height: 72px;
    }
    
    >.right{
        display: flex;
        align-items: center;
    }
    
    
}
.showMenu{
    color: $branco;
}

.showMenu,.busca{
    @media (min-width:840px) {
        display: none;
    }
}

.botaoLogar,.botaoRegistrar{
    @media (max-width:840px) {
        display: none;
    } 
}